<% unless @code.nil? %>
  <fieldset>
    <legend> <%= t("show.legend_title") + " " + @code.language.name  + " #" + @code.id.to_s %></legend>
    <article id="codesmell">      
      <time> <%= t("show.posted_at") + " " + l(@code.created_at(:short)) %></time>
        <pre class="code smell">
          <code class="<%= @code.language.slug %>">
            <%= h @code.smell %>
          </code>
        </pre>            
      <div class="clear"></div>
      <div id="comment">
        <p>
          <span class="label"><%= t("show.comment") %></span>
          <%= @code.comment %>
        </p>
      </div>
      <% form_for @code do |f| %>
        <%= hidden_field_tag :language_slug, params[:language_slug] %>
        <div id="vote" class="span-10">
          <span class="label"><%= t("show.vote") %></span>
          <% @vote_options.each do |option| %>
            <%= f.submit "#{option.label} (#{@code.get_votes_count_of option})", :name => "vote_option_#{option.id}", :class => "vote_up" %>
          <% end %>
        </div>
        <div id="share" class="span-7">
          <span class="label"><%= t("show.share") %></span> 
          <div class="addthis_toolbox addthis_default_style ">
          <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
          <a class="addthis_button_tweet"></a>          
          </div>
          <script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
          <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4d8205db215cca75"></script>
          <!-- AddThis Button END -->
        </div>
        <div id="denounce" class="span-3 last">
          <span class="label"><%= t("show.denounce") %></span>
          <%= f.submit t("show.denounce") , :name => 'denounce', :class => "denounce" %>
        </div>
      <% end %>
    </article>
  </fieldset>
<% else %>
  <p><%= t("show.no_hack") %> <%= link_to t("show.be_first"), "/#{@language[:slug]}/new" %></p>
<% end %>