<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><%= t("layout.title") %></title>

    <%= stylesheet_link_tag 'blueprint/screen.css', 'style.css', 'http://alexgorbatchev.com/pub/sh/current/styles/shThemeDefault.css', 
      :media => "screen, projection" %>
    <%= stylesheet_link_tag 'blueprint/print.css', :media => "print" %>

    
    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie.css', :media => "screen, projection" %><![endif]-->

    <%= javascript_include_tag 'jquery-1.6.1.min.js',
                               'http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js',
                               'http://alexgorbatchev.com/pub/sh/current/scripts/shAutoloader.js',
                               'application.js' %>

    <% if Rails.env == 'production' %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17119497-7']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <% end %>


  </head>
  <body>
    <div class="container">    
      <div class="header">
        <div class="span-7 logo">
          <h1 class="logo">
            <%= link_to "<span>#{t("layout.title")}</span>", '/' %>
          </h1>
        </div>  
        <div class="span-16 last">          
          <%= link_to t("layout.send_hack"), "/#{@language ? @language[:slug] : params[:language_slug]}/send-hack", :class=>'button' %>
        </div>  
        <div class="span-16 last navigation">        
          <span><%= t("layout.filter_title") %></span>
          <ul class="languages_filter">
            <li><%= link_to(t("layout.filter_all"), '/all') %></li>
            <% @languages.each do |l| %>
            <li><%= link_to(l.name, "/#{l.slug}/") %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="clear"></div>

      <div class="main">
        <% if flash[:notice] %>
        <div class="info">
          <%= flash[:notice][:message] %>
        </div>
        <% end %>
        <%= yield %>
      </div>

      <div class="clear"></div>

      <div class="footer">
        <div class="span-14">
          <h3>Code Smell</h3>
          <p><%= t("layout.about") %></p>
          <p><%= link_to(t("layout.contact"), "mailto:woompa@woompa.com.br") %></p>
        </div> 
        <div class="span-8 signature">
          <%= link_to(image_tag("woompa.png"), "http://www.woompa.com.br", :target => "_blank") %>
        </div>
      </div>
    </div>
  </body>
</html>