<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><%= t("layout.title") %></title>

    <%= stylesheet_link_tag 'blueprint/screen.css', 'style.css', :media => "screen, projection" %>
    <%= stylesheet_link_tag 'blueprint/print.css', :media => "print" %>

    
    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie.css', :media => "screen, projection" %><![endif]-->

    <%= javascript_include_tag :all %>

  </head>
  <body>
    <div class="container">    
      <div class="header">
        <div class="span-7 logo">
          <h1 class="logo"><%= link_to "<span>#{t("layout.title")}</span>", '#' %></h1>
        </div>  
        <div class="span-16 last">          
          <%= link_to t("layout.send_hack"), '#', :class=>'button' %>
        </div>  
        <div class="span-16 last navigation">        
          <span><%= t("layout.filter_title") %></span>
          <ul class="languages_filter">
            <li><%= link_to(t("layout.filter_all"), '#') %></li>
            <% @languages.each do |l| %>
            <li><%= link_to(l.name, '#') %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
      <%= yield %>
    </div>
  </body>
</html>
