<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><%= t("layout.title") %></title>

    <!-- Framework CSS -->
    <link rel="stylesheet" href="../../blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="../../blueprint/print.css" type="text/css" media="print">

    <%= stylesheet_link_tag 'blueprint/screen.css', :media => "screen, projection" %>
    <%= stylesheet_link_tag 'blueprint/print.css', :media => "print" %>

    
    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie.css', :media => "screen, projection" %><![endif]-->

    <%= javascript_include_tag :all %>

  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
